$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// body {
//     background-image: url("../../assets/images/jump.jpg");
//     background-color: #000;
//     // background-position: right 1;
// }

img{
    position:fixed;
    right:0;
}

#blogface {
  color: #fff;
  font-size: 6vw;
  text-align: center;
}

#getstarted-button {
  text-align: center;
}

#welcome {
  color: #fff;
  font-size: 4.0vw;
  text-align: center;
}

#welcome-text {
  color: #fff;
  font-size: 4vmin;
  text-align: center;
}

// Settings for page template modal
.modal-body {
  max-width: 600px;
  min-height: 550px;
}

#template-1-iframe {
  min-height: 490px;
}

@media (max-width: 300px) {
  body {
    background-color: #000;
    background-image: url("../../assets/images/jumpsmall.jpg");
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  body {
    background-color: #000;
    background-image: url("../../assets/images/jump.jpg");
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  body {
    background-color: #000;
    background-image: url("../../assets/images/jump.jpg");
  }
}
@media (min-width: 769px) {
  body {
    background-color: #000;
    background-image: url("../../assets/images/jump.jpg");
  }
}
