  <div id="edit-container">

  <div id="modal1-edit-header" contenteditable="true">{{page.header}}</div>

  <div id="modal1-edit-subheader" contenteditable="true">{{page.subHeader}}</div>

  <div id="modal1-edit-about" contenteditable="true">{{page.pageContent}}</div>

  <div id="modal1-edit-footer">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <div id="modal1-edit-contact" contenteditable="true">{{page.contact}}</div>
  </div>
  </div>
