
  <div id="template-1-header">{{page.header}}</div>
  <div id="template-1-sub-header">{{page.subHeader}}</div>
  <div id="template-1-about">{{page.pageContent}}</div>
  <div id="template-1-footer">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <div id="template-1-email">{{page.contact}}</div>
  </div>
