  <div id="edit-container">

  <div id="template-1-header" contenteditable="true">{{page.header}}</div>

  <div id="template-1-sub-header" contenteditable="true">{{page.subHeader}}</div>

  <div id="template-1-about" contenteditable="true">{{page.pageContent}}</div>

  <div id="template-1-footer">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <div id="template-1-email" contenteditable="true">{{page.contact}}</div>
  </div>
  </div>
