body {
  font-family: 'Cantarell', sans-serif;
}

#template-1-header {
  border-bottom: black 1px solid;
  font-size: 40px;
  font-weight: bold;
}

#template-1-sub-header {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#template-1-footer {
  text-align: center;
}

#template-1-email-text {
  margin: 0;
}
